<!DOCTYPE html>
<html>

<head>
    <title>All Public Images</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
  <div> 
    <p class="submit2" align="center"><a href="upload">Upload an image</a></p>
  </div>

  <div> 
    <p class="submit2" align="center"><a href="myimgs">View your images</a></p>
  </div>

  <div> 
    <p class="submit2" align="center"><a href="logout">Logout</a></p>
  </div>


  <p class="sign" align="center">Public Images</p>

  <div class="gallery">
    {% for item in data %}
    <figure>
      <img src="/images?imageid={{item}}" width="250" height="250">
    </figure>
    {% endfor %}
</div>
</body>

</html>